div.keyboard {
    width: 480px;
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #3A3D42;

    background: #757D8A;
    background-image: -moz-linear-gradient(#9098A3, #454f5d);
	
    box-shadow: 0 1px 0 rgba(255,255,255,.3) inset;
}

div.keyboard:first-child {
    margin-top:.3em;
}

div.keyboard > div {
    text-align: center;
    margin: .5em .1em .25em;
}

div.keyboard > div > div {
    display: inline-block;

    color: #3A3D42;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px white;
    font-weight: bold;

    border: 0;
    border-top: 1px solid rgba(255,255,255,.45);  
    background: #ECEDEF;
    background-image: -moz-linear-gradient(#f8f8f9, #dddfe1);

    -moz-border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.7), 0 1px 0 rgba(0,0,0,.3);

    margin: 0 .2%;
    padding: .02em 0 .03em;
    color: black;
    font-size: 2em;
}

div.keyboard > div > div.special-off {
    background:#757D8A;
    background-image: -moz-linear-gradient(#7f8792, #535b68);
}

div.keyboard > div > #symbol, #return {
    width: 19%;
}

div.keyboard > div > #space {
    width: 60%;
}